.quiz-card {
  background-color: #343a40;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  width: 600px;
  height: fit-content;
  padding: 15px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.quiz-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.card-content {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.card-title {
  font-size: 2em;
  margin-bottom: 15px;
  color-scheme: white;
}

.card-description {
  font-size: 1.1em;
  line-height: 1.6;
  color: white;
  margin-bottom: 25px;
}

.card-button {
  position: relative;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.2s ease;
  z-index: 1;
}

.card-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.quiz-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 700px;
  height: 300px;
  background-image: url("../../Images/Trophy.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0.4;
}

@media (max-width: 1024px) {
  .quiz-card {
    width: 90%;
    margin: 15px auto;
    padding: 10px;
  }

  .card-title {
    font-size: 1.8em;
  }

  .card-description {
    font-size: 1em;
  }

  .quiz-card::before {
    width: 600px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .quiz-card {
    width: 95%;
    margin: 10px auto;
    padding: 8px;
  }

  .card-title {
    font-size: 1.6em;
  }

  .card-description {
    font-size: 0.9em;
  }

  .card-button {
    padding: 10px 20px;
    font-size: 0.9em;
  }

  .quiz-card::before {
    width: 500px;
    height: 200px;
  }
}

@media (max-width: 480px) {

  .card-title {
    font-size: 1.4em;
  }

  .card-description {
    font-size: 0.85em;
  }

  .card-button {
    padding: 8px 15px;
    font-size: 0.85em;
  }

  .quiz-card::before {
    width: 400px;
    height: 150px;
  }
}