.quiz-bar-list {
  display: flex;
  flex-direction: column;
  margin: 20px;
  overflow: hidden;
}

.quiz-heading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: 'Arial', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.quiz-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.quiz-bar:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.quiz-bar-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 14px;
}

.icon-container {
  margin-right: 15px;
}

.quiz-icon {
  width: 40px;
  height: 40px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.title {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.description {
  font-size: 0.9em;
  color: #6c757d;
}

.button-container {
  margin-left: auto;
}
.no-activity-message {
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: #888; /* Or any color you prefer */
}

@media (max-width: 1024px) {
  .quiz-bar {
    padding: 12px;
  }

  .quiz-icon {
    width: 35px;
    height: 35px;
  }

  .title {
    font-size: 1em;
  }

  .description {
    font-size: 0.85em;
  }
}

@media (max-width: 768px) {
  .quiz-bar {
    padding: 10px;
    display: flex;
    flex-direction: row;
  }

  .quiz-bar-content {
    flex-direction: row;
    width:100%;
  }

  .icon-container {
    margin-right: 10px;
  }

  .quiz-icon {
    width: 60px;
    height: 60px;
    object-fit:cover;
  }

  .text-container {
    width: 100%;
  }

  .title {
    font-size: 0.95em;
  }

  .description {
    font-size: 0.8em;
  }

  .quiz-heading {
    font-size: 22px;
  }

}

@media (max-width: 480px) {
  .quiz-bar {
    padding: 8px;
    display: flex;
    flex-direction: row;
  }

  .quiz-icon {
    width: 25px;
    height: 25px;
  }

  .title {
    font-size: 0.9em;
  }

  .description {
    font-size: 0.75em;
  }

  .quiz-heading {
    font-size: 20px;
  }

}